@import "tailwindcss";

@theme {
  --breakpoint-*: initial;

  /* 기존 브레이크포인트 재정의 */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --breakpoint-tablet: 772px;
  --breakpoint-laptop: 992px;
  --breakpoint-desktop: 1280px;
}

/* user-menu-box */
.user-menu-box {
  li:nth-child(2) {
    a {
      position: relative;
      padding-right: 20px;

      &::after {
        content: "";
        position: absolute;
        width: 0.5px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-color: #ffffff;
      }
    }
  }

  li:last-child {
    a {
      padding-left: 20px;
    }
  }
}
