@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --site-width: 1280px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* user-menu-box */
.user-menu-box {
  li:nth-child(2) {
    a {
      position: relative;
      padding-right: 20px;

      &::after {
        content: "";
        position: absolute;
        width: 0.5px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-color: #ffffff;
      }
    }
  }

  li:last-child {
    a {
      padding-left: 20px;
    }
  }
}
